In case you have a Google account, open the file with [Google Colab](https://colab.research.google.com), which "...  allows anybody to write and execute arbitrary python code." [(Source)](https://research.google.com/colaboratory/faq.html)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/neuefische/pg_workshop/blob/main/1_Python_for_Excel_Experts.ipynb)

# Introduction to Python for Excel Experts

Aims of this session: 
- Demystify programming
- Gain first experiences programming in Python
- Reduce barriers to changing existing processes and trying out new tools
- Realise value and possibilities that Python provides

By the end of the session, you will know how to:
- Use comments
- Import libraries to extend functionality
- Work with text
- Work with numbers and perform basic arithmetic
- Create and work with variables
- Use 'if' statements

Along with how to:
- Import data from Excel/csv files
- Work with data in tables
- Summarise data
- Make basic graphs
- Save data to Excel files

### Task

Carefully read through the documentation, lines of code and execute the code blocks below by using Shift+Enter.  
**Note**: The next Notebook will guide you in more detail on how to navigate through Jupyter Notebooks in general. At this point, being able to execute code will be enough.

## Basic Concepts

### Using comments
Comments allow us to explain what code is doing, when it isn't clear. 

Just type #  
Everything on the same line after the # will be ignored when the code is run.

In [24]:
# This is a comment
print(1 + 2) # This is a comment on the same line as some code

# It is also a useful way to 'deactivate' a line of code temporarily
# print(1 + 2)

3

### Add new functionality with libraries
Python allows us to add new functions by importing external libraries.

In [25]:
import pandas as pd     # Pandas lets us work easily with numbers and tables

import xlrd     # for importing and exporting Excel files

import matplotlib   # for creating graphs

ModuleNotFoundError: No module named 'xlrd'

### Using variables

In Python, using variables is simple, (unlike VBA) there is no need to define them at the start of the code, and no need to set the data type.

Just write something like this:

```python
top_speed_kmh = 75
```
All you need is:
1. a meaningful name for your variable:  __top_speed_kmh__
2. an equals sign: __=__ 
3. what you want to store in the variable (a number or text): __75__

In [ ]:
# How to store a number in a variable
top_speed_kmh = 32.7 

# Text works the same way, just put a quotation mark before and after
car_brand = "Ford"

### Working with text 
Pieces of text are called strings.
Strings are written with apostrophes or quotation marks:

```'This is a string'```  
```"This is also a string"```

#### Output to the screen with print()

To output to the screen, use ```print()```  

Either with a text string directly:

In [ ]:
print("Welcome to the world of Python programming!")

Welcome to the world of Python programming!

Or with a variable name, to see what is stored in that variable:

In [ ]:
print(car_brand)

Ford

Or both:

In [ ]:
print(car_brand + " is a car brand")

Ford is a car brand

#### Joining text together (Excel: CONCAT, VERKETTEN)
To concatenate text in Excel you would use something like 
```Excel
=CONCAT(A2;" ";B2) 
```

In Python you just use + signs between strings

In [ ]:
car_brand = "Ford"
car_model = "Model T"

full_car_name = car_brand + " " + car_model

print(full_car_name)

Ford Model T

To include numbers, convert them into strings using the str() function:  

for example
```str(top_speed_kmh)```

In [ ]:
top_speed_text = "The " + car_model + " has a top speed of " + str(top_speed_kmh) + " km/h"

print(top_speed_text)

The Model T has a top speed of 32.7 km/h

### Mathematical functions

Just like in Excel, basic mathematics uses these symbols: + - / * ()

In [ ]:
print(10 + 2)

In [ ]:
# Try out other basic arithmetic functions here

In [ ]:
start_position = 12.1
end_position = 22
time = 51

# speed = distance / time
speed = (end_position - start_position) / time

print(speed)

Powers are slightly different to Excel.

In Python we use ```**``` for powers, so 5Â² is 5**2

*(Careful: 5^2 will still give a result in Python, but the wrong result!)*

In [ ]:
# this gives a surprising result
print(5^2)

In [ ]:
# Calculating the area of a square

width = 5 

area = width**2

print(area)

### If statements (Excel: IF, WENN)

In Excel, we have:  
```Excel
=IF((test); (result if true); (result if false))
```
```Excel
=IF(A1 < 50; "Slow"; "Fast")
```

In Python we have:

```python
if (test):
    (result if true)
else:
    (result if false)
```

For example:

In [ ]:
if top_speed_kmh < 50:
    slow_or_fast = "Slow"
else:
    slow_or_fast = "Fast"

print(slow_or_fast)

### Symbols used for logical comparisons

| Comparison            | Excel | Python |                                                  |
|-----------------------|-------|--------|--------------------------------------------------|
| equal to              | =     | ==     | The single = sign is used for setting variables |
| not equal to          | <>    | !=     | <> also works in Python                          |
| less than             | <     | <      |                                                  |
| less than or equal to | <=    | <=     |                                                  |
| greater than             | >     | <      |                                                  |
| greater than or equal to | >=    | >=     |                                                  |
  
You can combine multiple conditions using:

```and```  
```or```   
```not```

Here is another if statement, using multiple conditions this time:

In [ ]:
country = "DE"
age = 18

if (country == "US" and age>=21) or (country != "US" and age >= 18):
    print("This person can legally drink alcohol!")
else:
    print("You are either too young or in the wrong country!")

This person can legally drink alcohol!

### Elif: say goodbye to nested "if" statements

elif means "else if", and is like using multiple if statements.

Maybe you know the horror of managing multiple nested IF statements in Excel: 
Here we test the top speed of a car to put it in a speed category.

```Excel
=IF(A1 <= 0; "not a car";IF(A1 < 50; "slow"; IF(A1 <= 100; "medium"; IF(A1 > 100; "fast"; ""))))
```

Here is something similar in Python:

In [ ]:
# When you run this code, an input box will appear on your screen

car_speed = int(input('Enter the maximum speed of a car in km/h: ')) 

if car_speed < 0:
    print('So, this car can only travel backwards?')
elif car_speed == 0:
    print('So, this car does not move? Maybe it is not a car.')
elif car_speed >= 100:
    print('Fast')
elif car_speed >= 50:
    print('Medium')
else:
    print('Slow')

# Working with tables of data

So we've seen how basic coding works, and hopefully shown that it is not too intimidating. We aren't going to use Python to replace a pocket for basic arithmetic though: Where the real power of Python lies is when we need to work with lots of data.

In Excel, you often create a formula and then clone it to each cell going down the table.

In Python, the Pandas library lets you make changes to entire columns of data with just one line of code.

This lets us work with large data sets in a practical way, as manual editing is avoided. We can use Python to combine, transform, filter and summarize data, and then still have the option of saving the final transformed data as an Excel file.

- XLS sheets are limited to 65536 rows, 256 columns (not enough rows for many uses)
- XLSX sheets are limited to around 1 million rows and 16,000 columns (navigate around your sheet until the end of time!)  
- Pandas DataFrames (tables) have no size limit, just the amount of memory in your computer.

### Loading Data 

We will now look at importing data from a csv file, and later on we will modify it and then save it into a Excel file.

In [ ]:
# Import the Pandas library, a Python package which simplifies data analysis and transformation
import pandas as pd

In [ ]:
# Floats (decimal numbers) can be displayed rounded with 2 decimal places
pd.options.display.float_format = "{:,.2f}".format

In [ ]:
# Import your data via URL to a DataFrame format
url = "https://raw.githubusercontent.com/neuefische/pg_workshop/main/data/orders_data.csv"
orders = pd.read_csv(url)

Of course you can also load files from your local machine by specifying the path within the ```read``` method. For loading excel files, you would use ```pd.read_excel()```.

### Our table of data is stored in special type of variable called a 'DataFrame'

Because our data contains various orders and details on that orders, we have used the variable name "orders" for the dataframe.

By writing the name of the dataframe and dot, e.g. ```orders.```
followed by various different keywords. e.g. ```head()```  
we can:
- get information about our data
- perform actions on our data

### Taking a look at a few rows - .head()

In [ ]:
# Using .head(3) the first 3 rows of your dataframe get displayed
orders.head(3)

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Country/Region,City,State,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit
0,CA-2020-152156,2020-11-08 00:00:00,2020-11-11 00:00:00,Second Class,CG-12520,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.00,41.91
1,CA-2020-152156,2020-11-08 00:00:00,2020-11-11 00:00:00,Second Class,CG-12520,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.00,219.58
2,CA-2020-138688,2020-06-12 00:00:00,2020-06-16 00:00:00,Second Class,DV-13045,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.00,6.87

### How large is the table? .shape

In [ ]:
# use the '.shape' attribute to see the number of rows and columns
orders.shape

### Getting a statistical summary for each numerical column - describe()

In [ ]:
# the function '.describe' gives you a good overview of the descriptive stats of your numeric columns
orders.describe()

### Getting a list of unique values (like 'Remove Duplicates' in Excel)

In [ ]:
# use '.unique' on the Category column to get an overview of your unique product categories
orders['Category'].unique()

## Data transformation

### Add/remove columns

#### Create a new column, based on existing columns

In [ ]:
orders['Category - Detailed'] = orders['Category'] + ": " + orders['Sub_Category']

orders.head()

In [ ]:
# Try it yourself: create a Profit per unit column, dividing the Profit by the Quantity
orders['Profit per Unit'] = 

# See what happened
orders.head()

#### Remove certain columns - drop()

In [ ]:
# Replace the orders dataframe with a new version where selected columns have been removed with drop()
orders = orders.drop(['Ship_Date','Ship_Mode'], axis=1)

In [ ]:
# Take a look at the new table
orders.head()

#### Create a new dataframe, reduced to a selection of columns

In [ ]:
customer_locations = orders[['Order_ID','Customer_ID','Country/Region','City']]

In [ ]:
# Take a look at the new table
customer_locations.head()

### Perform columnwise calculations

#### SUM() - Summing a column

In [ ]:
orders[['Sales']].sum()

#### MAX(), MIN() - Getting the maximum or minimum value in a column

In [ ]:
orders[['Sales']].max()

In [ ]:
#Try out min() yourself!

## Sorting data

In [ ]:
# Finding our top 3 sales
orders.sort_values(by='Sales', ascending=False).head(3)

### Filtering

#### Basic filtering

In [ ]:

orders[(orders['State'] == 'Florida')].head()

#### Filtering based on multiple conditions

In [ ]:
orders[(orders['State'] == 'Florida') & (orders['Discount'] > 0.6) & (orders['Profit'] < 0)].head()

## Pivot Tables

Pivot tables are used for aggregating data, or for slicing and grouping according to different categories.

We can use the groupby() function, or the pivot_table function, according to the complexity of what we want to achieve.

### Summarizing data - groupby()

In [ ]:
category_summary = orders.groupby(['Category','Sub_Category'])[['Sales','Quantity']].sum().reset_index()

print(category_summary)

In [ ]:
# Try it for yourself: Find the highest values in the Sales and Profit profit columns, grouping by the 'Order Date'
sales_by_date = orders.groupby(['___'])[['___','___']].max().reset_index()

sales_by_date.head()

### pd.pivot_table

The power of pivot tables in Excel is often in being able to dynamically change filters and rearrange columns to explore data, which we do not have here.

However, if we always want to perform the same aggregation on the same columns, then the pd.pivot_table function works well.

In [ ]:
# Sales Summary by Category and State

pivot_category_sales = pd.pivot_table(
    data = orders, # The dataframe to pivot
    index = 'State', # Choose the rows to group by
    columns = 'Category', # Choose the columns to group by
    values = 'Sales', # Choose the values to aggregate/summarize
    aggfunc = 'sum', # Choose the type of aggregation: 'sum', 'mean', 'max', 'min', etc..
    # margins = True # Adds totals
)

print(pivot_category_sales.head(15))

In [ ]:
# Try it for yourself: Summarize the sales and quantities sold by Category and Sub-Category 

pivot_category_sales = pd.pivot_table(
    data = orders, # The dataframe to pivot
    index = '___', # Choose the columns to group by
    values = '____', # Choose the values to aggregate/summarize
    aggfunc = '___', # Choose the type of aggregation: 'sum', 'mean', 'max', 'min', etc..
)

print(pivot_category_sales)

## Basic graphs

In [ ]:
sales_by_date.plot()

In [ ]:
pivot_category_sales.plot.bar()

## VLOOKUP() / INDEX,MATCH / XLOOKUP

In Excel, there are three general use cases for VLOOKUP or INDEX,MATCH.

In Python, these are handled by three different functions:

| Use case              | Python |                                                  |
|-----------------------|--------|--------------------------------------------------|
| joining data from two tables   | merge()     |  |
| lookup tables         | dictionary + map      |       
| to add interactivity  |     | not used in data transformation     |

### Joining data from two tables - merge()

We often use VLOOKUP, INDEX,MATCH or XLOOKUP to add in a column from another table, using an existing column as a reference number (a key). Often a product code, barcode, but it can be anything, as long as it is in both tables, and consistent.

If we want to add a column into our orders data with the 2 letter state abbreviations of the US state, and we have another table containing the names of the states and their 2 letter codes, then we can use the name of our US state as the key and join the two tables together.

The merge function actually includes all columns from both tables: no more copying and modifying your VLOOKUP code for each column.

In [ ]:
# first we need to import a CSV with all the US states and their codes into a new dataframe

states_to_codes = pd.read_csv("https://raw.githubusercontent.com/neuefische/pg_workshop/main/data/states_to_codes.csv", 
                     #skiprows = 1
                     skipinitialspace=True)

In [ ]:
# let's take a look inside
states_to_codes.head()

        State State Code
0      Alaska         AK
1     Alabama         AL
2    Arkansas         AR
3     Arizona         AZ
4  California         CA

In [ ]:
# left_on and right_on name the columns which contain the common 'key'. 
# The how='left' means that all of the orders table is included: the state_code will included where there is a match, or left empty if the name of the state is not found in the states_to_codes table.
orders = orders.merge(states_to_codes, left_on='State', right_on='State', how='left')

# See if it worked
orders.head()

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Country/Region,City,State,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,State Code
0,CA-2020-152156,2020-11-08 00:00:00,2020-11-11 00:00:00,Second Class,CG-12520,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.00,41.91,KY
1,CA-2020-152156,2020-11-08 00:00:00,2020-11-11 00:00:00,Second Class,CG-12520,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.00,219.58,KY
2,CA-2020-138688,2020-06-12 00:00:00,2020-06-16 00:00:00,Second Class,DV-13045,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.00,6.87,CA
3,US-2019-108966,2019-10-11 00:00:00,2019-10-18 00:00:00,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.58,5,0.45,-383.03,FL
4,US-2019-108966,2019-10-11 00:00:00,2019-10-18 00:00:00,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.37,2,0.20,2.52,FL

 ### Lookup tables

 We can use a dictionary combined with the map() function as a lookup table

 For example, if we wanted to convert the names of our customer 'Segments' into a different form or make a slightly different categorisation.

In [ ]:
# A dictionary customer segments and our new categories. Dictionaries are formatted {'key1':'value2', 'key2','value2'}

segments_to_customer_groups = {
 'Corporate': 'B2B',
 'Consumer': 'Retail',
 'Home Office': 'B2B'
 }

In [ ]:
# Creates a new column State_Code by mapping the keys to the values in the states_to_codes dictionary.
orders['Customer Group'] = orders['Segment'].map(segments_to_customer_groups)

KeyError: 'Segments'

In [ ]:
# Check if it worked
orders['Customer Group']

## Export to Excel

In [ ]:
# Creating an empty Excel file
from openpyxl import Workbook
wb = Workbook()
wb.save('data/demo_output_file.xlsx')

# Saving some of our dataframes into it as separate sheets
with pd.ExcelWriter("data/demo_output_file.xlsx", mode="a", engine="openpyxl") as writer:
    pivot_category_sales.to_excel(writer, sheet_name="Sales by Category")
    sales_by_date.to_excel(writer, sheet_name="Sales by Date")